name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
        pip install pytest
        pip install fprettify
        pip install ruff

    - name: Lint Python code
      run: ruff check src/ tests/

    - name: Lint Fortran code
      run: fprettify --diff --recursive src/fortran

    - name: Install Fortran compiler
      run: sudo apt-get update && sudo apt-get install -y gfortran

    - name: Build Fortran code
      run: |
        mkdir build
        cd build
        cmake ..
        make
        cd ..

    - name: Run Python tests
      run: pytest tests/
